.hidden, .hidden button{
    display: none !important;
}

.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: antiquewhite !important
}

.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.2s;
    font-size: 17px;
}